body {
    font-family: 'Open Sans', sans-serif;
}

header,footer{
    background-color:#333;
    color:#ddd;
    padding:20px;
    text-align:center;
}

section{
    margin-top:20px;
    margin-bottom:20px;
}

.sectionHeader {
    background-color: rgba(0,0,0,0.5);
    color: #ddd;
    width:100%;
    padding:2% 0;
    margin:0 auto;
    text-align:center;

}

.individualTrusteeWrapper{
    display:inline-block
}

.newDevelopmentLayer {
    background: url('Images/Mabelle_Luke_New_Development.png') no-repeat;
    background-size:100%;
    background-position:center;
    background-attachment:fixed;
    height:400px;
    width:100%;
}

#abouUsCarousel{
    text-align:center;
    margin: 0 auto;
}